@import 'vars';

footer {
	.upper-footer {
		position: relative;
		padding-top: 85px;
	}

	.footer-col li {
		margin-bottom: 12px;
	}

	.footer-col.has-header li:first-child a,
	.footer-col.no-header li a {
		color: $dark-blue;
		font-size: $text-small;
		font-family: $serif-stack;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: .1em;
	}

	.footer-col.has-header li a {
		color: $gold;
		font-family: $sans-serif-stack;
		font-size: $text-smaller;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: .1em;
	}

	.footer-logo {
		position: absolute;
		bottom: 0;
		left: calc(50% - 32px);
		width: 64px;
		height: 68px;
	}

	.cb-wrapper {
		margin-top: 12px;
	}

	.newsletter-signup-wrapper {
		margin-right: $col-gutter * 2;
	}

	.social-list-wrapper {
		padding-bottom: 20px;
	}

		.social-media-list {
			justify-content: flex-end;
		}

		.social-media-list li {
			margin: auto 0 auto 60px;
		}

		.social-media-list img {
			max-width: 30px;
		}

		.social-media-list span {
			display: none;
		}


	.lower-footer {
		padding: 30px 0 20px 0;
	}

	.eho-icon {
		width: 40px;
		opacity: .3;
	}

	.address-wrapper {
		p {
			font-family: $sans-serif-stack;
			font-size: $text-smaller;
			line-height: #{20px/$browser-context}rem;
			margin-bottom: 0;
			opacity: .6;
		}
	}
}