@import '_vars.scss';
@import '_mixins.scss';


@media screen and (max-width: 890px) {

}

//ie10 and ie11 styles
@media screen and (max-width: 890px) and (-ms-high-contrast: active) and (-ms-high-contrast: none) {  

}

@media screen and (max-width: $tablet-break) {
	html {
		font-size: $tablet-context;
	}

	#content {
		margin-top: $header-height-768;
	}

	//footer
	footer {
		
	}
}

@media screen and (max-width: 600px) {

	.site-width,
	.side-padding {
		padding-left: 15px;
		padding-right: 15px;
	}
	
	//form styles
	.two-inputs {
		flex-direction: column;
	}
}

@media screen and (max-width: $mobile-break) {
	html {
		font-size: $mobile-context;
	}


	#content {
		margin-top: $header-height-480;
	}

}