@import 'vars';

//colors 
// .black-text { color: $black; }
// .tan-text { color: $tan; }
// .gold-text { color: $gold; }
// .orange-text { color: $orange; }
// .green-text { color: $green; }
// .light-blue-text { color: $light-blue; }
// .dark-blue-text { color: $dark-blue; }

// .tan-bg { background-color: $tan; }
// .light-gold-bg { background-color: rgba($gold, .25); }
.white-bg { background-color: #ffffff; }

//text styles
.sans-serif {
	//font-family: $sans-serif-stack;
}

.serif {
	//font-family: $serif-stack;
}

h1, h2, h3, h4, h5, h6 {
	//font-family: $serif-stack;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .25em;
	//color: $dark-blue;
}

	h1 {
		font-size: #{32px/$browser-context}rem;
		line-height: #{40px/$browser-context}rem;
		margin-bottom: 16px;
	}

	h2 {
		font-size: #{28px/$browser-context}rem;
		line-height: #{40px/$browser-context}rem;
		margin-bottom: 14px;
	}

	h3 {
		font-size: #{26px/$browser-context}rem;
		line-height: #{36px/$browser-context}rem;
		margin-bottom: 12px;
	}

	h4 {
		font-size: #{22px/$browser-context}rem;
		line-height: #{28px/$browser-context}rem;
		margin-bottom: 10px;
	}

	h5 {
		font-size: #{18px/$browser-context}rem;
		line-height: #{26px/$browser-context}rem;
		margin-bottom: 8px;
	}

	h6,
	.subhead {
		//font-family: $serif-stack;
		text-transform: uppercase;
 		font-size: #{12px/$browser-context}rem;
 		font-weight: 700;
		line-height: #{20px/$browser-context}rem;
		letter-spacing: .1em;
 		margin-bottom: 8px;
	}

		h6.sans-serif,
		.subhead.sans-serif {
			//font-family: $sans-serif-stack;
		}

	.white-headlines {
		h1, h2, h3, h4, h5 {
			color: #ffffff !important;
		}

	}




.content-wrapper ul,
.content-wrapper ol,
.bullet-list {
	margin-bottom: 20px;
	//padding-left: 20px;
}
	.content-wrapper ul li,
	.bullet-list li {
		position: relative;
		padding-left: 14px;
		margin-bottom: 12px;
		list-style-type: none;
		font-size: $text-base;
		line-height: #{29px/$browser-context}rem;
	}
		.content-wrapper li.text-small,
		.bullet-list li.text-small {
			font-size: $text-small;
			line-height: #{24px/$browser-context}rem;
			margin-bottom: 10px;
		}


		.content-wrapper ul li:before,
		.bullet-list li:before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 10px;
			width: 7px;
			height: 7px;
			//background: $ut-orange;
		}

		.content-wrapper ul li.text-small:before,
		.bullet-list li.text-small:before {
			top: 7px;
		}


.content-wrapper ol {
	list-style-position: inside;
	list-style-type: decimal;
}
	.content-wrapper ol li {
		margin-bottom: 12px;
	}


p {
	font-family: $serif-stack;
	font-size: $text-base;
	line-height: #{28px/$browser-context}rem;
	margin-bottom: 18px;
}

	.content-wrapper p a:not(.btn) {
	    //box-shadow: inset 0 -2px 0 $ut-orange;
	    background: none;
	    transition: background .1s ease-in-out;
	}
		.content-wrapper p a:not(.btn):hover {
			//background: rgba($ut-orange, .5);
			box-shadow: none;
		}

.cta {
	font-family: $sans-serif-stack;
	text-transform: uppercase;
	font-size: #{12px/$browser-context}rem;
	font-weight: 700;
	line-height: #{20px/$browser-context}rem;
	letter-spacing: .1em;
	color: $gold;
	padding-bottom: 6px;
	position: relative;
	overflow: hidden;
	display: inline-block;


	.line {
		height: 2px;
		width: 20px;
		//background: $dark-blue;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 1;
	}
}

strong, b {
	font-weight: 700;
}

pre {
	font-family: monospace;
}

a {
	text-decoration: none;
}