@import 'vars';

//form module
.form-module,
.form-text-module {
	min-height: 700px;
	position: relative;

	.form-wrapper {
		position: relative;
		margin: auto;
		z-index: 1;
		
		form {
			padding: 7%;
			z-index: 2;
			position: relative;
		}
	}

	.content-wrapper {
		margin-bottom: 30px;
	}

	.form-side {
		padding-bottom: 40px;
	}

	textarea,
	input[type="text"],
	input[type="password"],
	input[type="number"],
	input[type="email"],
	input[type="tel"],
	input[type="url"] {
	}

	.submit.btn {
		margin: 0 auto;
		max-width: 180px;
		width: 100%;
		display: block;
	}
}

//form text module
.form-text-module {
	min-height: 1px;

	.wf-form .btn {
		margin: 0 auto;
	}

}

@media screen and (max-width: 890px) {
	//form module
	.form-text-module {
		& > .col-14.flex {
			flex-wrap: wrap;
		}

		.content-side,
		.form-side {
			margin-left: auto;
			margin-right: auto;
		}

		.content-side {
			order: 1;
		}

		.form-side {
			order: 2;
		}
	}

	.form-module {
		.form-wrapper {
			margin-bottom: 20px;
		}
	}
}

//laptop styles
@media screen 
and (orientation: landscape)
and (max-height: 700px) {
	.form-module,
	.form-text-module {
		.form-wrapper {
			form {
				padding: 4%;
			}
		}
	}

	.form-text-module {
		.form-side .content-wrapper {
			margin-bottom: 10px;
		}
	}
}