@import 'vars';

.form-module,
.form-text-module {
	min-height: 700px;
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;

	&.add-border {
		padding-top: 70px;
		padding-bottom: 70px;
	}

	.form-wrapper {
		position: relative;
		margin: auto;

		form {
			padding: 40px;
			z-index: 2;
			position: relative;
		}

		.bg-helper {
			z-index: 1;
			background-color: #ffffff;
		}
	}

	.content-wrapper {
		margin-bottom: 30px;
	}

	textarea,
	input[type="text"],
	input[type="password"],
	input[type="number"],
	input[type="email"],
	input[type="tel"],
	input[type="url"] {
		width: 100%;
		box-shadow: none;
		background-color: $tan;
	}

	form.textured-bg {
		textarea,
		input[type="text"],
		input[type="password"],
		input[type="number"],
		input[type="email"],
		input[type="tel"],
		input[type="url"] {
			background-color: #ffffff;
		}
	}

	.how-bout-us-wrapper {
		margin: 20px auto;

		em {
			display: block;
			font-size: $text-smaller;
			font-family: $sans-serif-stack;
			font-size: 11px;
			font-weight: 700;
			line-height: #{10px/$browser-context}rem;
			color: rgba($black, .6);
			margin-top: 20px;
		}
	}

	.submit.btn {
		margin: 0 auto;
		max-width: 180px;
		width: 100%;
		display: block;
	}
}