@import 'vars';

.image-module {
	
	picture + figcaption {
		margin-top: 10px;
	}

	figcaption.site-width {
		padding-left: $col-base;
	}

	.has-max-height img {
		object-fit: cover;
		object-position: 50% 50%;
		font-family: 'object-fit: cover; object-position: 50% 50%;';
	}
}

//laptop styles
@media screen 
and (orientation: landscape)
and (max-height: 700px) {
	.image-module {
		height: 90vh;

		.img-wrapper {
			height: 90vh;
		}

		img {
			height: 100%;
			object-fit: contain;
			object-position: 50% 50%;
			font-family: 'object-fit: contain; object-position: 50% 50%;';
		}
	}
}