@import 'vars';

.points-of-interest-module {
	position: relative;
	margin-bottom: 14%;

	.content-wrapper {
		margin-bottom: 40px;
	}

	.map-wrapper {
		width: calc(100% - 290px);	
	}

	#map {
		height: 100%;
	}

	.map-inner {
		height: calc(100vh - 300px);
	}

	&.has-dt {
		.map-inner,
		.poi-list-wrapper {
			height: calc(100vh - 400px);
		}
	}

	.poi-list-wrapper {
		width: 290px;
		overflow-y: scroll;
		height: calc(100vh - 300px);
	}

		.poi-list {
			li {
				padding: 10px;

				.subhead {
					margin-bottom: 4px;
				}

				h4 {
					text-transform: none;
					letter-spacing: 0;
					margin-bottom: 5px;
					cursor: pointer;
					flex-basis: calc(100% - 20px);
					font-size: #{18px/$browser-context}rem;
					line-height: #{26px/$browser-context}rem;
				}
			}
		}

	.category-list-wrapper {
		margin-top: 25px;
	}

	.category-list {
		margin-bottom: 20px;
	}

	//mapbox pop-up styles
	.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
	}

	.mapboxgl-popup-content {
		border-radius: 0;
		width: 360px;
		padding: 20px;
		
		h4 {
			text-transform: none;
			letter-spacing: 0;
			margin-bottom: 5px;
			color: #ffffff;
		}

		p {
			margin-bottom: 0;
		}
	}

	.drive-time-list-wrapper {

		.drivetime-item {
			padding: 20px 10px;

			p {
				margin-bottom: 0;
			}

			&.has-coords {
				cursor: pointer;
			}

			&.active {
			}
		}
	}

}


@media screen and (max-width: 1100px) {
	.points-of-interest-module {
		.drive-time-list-wrapper {
			overflow-x: scroll;
			justify-content: flex-start;

			.drivetime-item { 
				flex-basis: 200px;
				flex-shrink: 0;	
			}
		}
	}
}



@media screen and (max-width: 1000px) {
	.points-of-interest-module {
		.map-wrapper {
			width: 75%;	
		}
			
		.poi-list-wrapper {
			width: 25%;
		}
	}
}

@media screen and (max-width: 890px) {
	.points-of-interest-module {
		.map-list-wrapper {
			flex-wrap: wrap;
		}

		.map-inner {
			position: initial;
			top: auto;
			height: 100% !important;
		}

		.map-wrapper {
			width: 100%;
			order: 1;
			height: 50vh;
		}
			
		.poi-list-wrapper {
			width: 100%;
			order: 2;
			background: none;
			overflow-x: scroll;
			-webkit-overflow-scrolling: touch;
			padding-bottom: 15px;
			height: auto !important;
		}

		.poi-list {
			display: flex;
			li {
				width: 250px;
				flex-basis: 250px;
				margin-right: 20px;
				flex-shrink: 0;

				p {
					display: block !important;
					visibility: visible !important;
				}
			}
		}

		#map {
			height: calc(100% - 20px);
			min-height: 0;
		}

		.category-list-wrapper {
			margin-top: 0;
			margin-bottom: 0;
			padding-top: 15px;
			height: 50px;
			padding-left: 0;
			padding-right: 0;
			overflow-x: scroll;
			-webkit-overflow-scrolling: touch;

			&::-webkit-scrollbar-thumb {
				background: none;
			}
		}

		.category-list {
			margin-bottom: 5px;

			li {
				flex-shrink: 0;
				margin: 0 2%;
			}
		}
	}
}

@media screen and (max-width: $mobile-break) {
	.points-of-interest-module {
		.mapboxgl-popup-content {
			width: 280px;
			padding: 10px;
		}
	}
}


.is-ie.ie-11 {
	.points-of-interest-module {
		.map-inner {
			position: initial;
			top: auto;
		}
		.map-wrapper {
			width: 100%;	
		}
	}
}

//laptop styles
@media screen 
and (orientation: landscape)
and (max-height: 700px) {
	.points-of-interest-module {
		.map-inner,
		.poi-list-wrapper {
			height: 75vh;
		}
	}
}