@import 'vars';

.text-module {
	position: relative;

	
	h1 { padding-top: 20px; }
	h2 { padding-top: 18px; }
	h3 { padding-top: 16px; }
	h4 { padding-top: 14px; }
	h5 { padding-top: 12px; }
	h6 { padding-top: 10px; }

	.img-wrapper,
	.video-wrapper {
		margin-bottom: 30px;
	}

	.site-width {
		padding: 20px 7.5%;
	}

	.content-wrapper {
		position: relative;
		z-index: 1;
	}

	.img-left {
		width: 50%;
		float: left;
		margin: 0 7% 1% -7.5%;
		max-width: $col-base * 4 + $col-gutter * 3;
	}

	.img-right {
		width: 50%;
		float: right;
		margin: 0 -7.5% 1% 7%;
		max-width: $col-base * 4 + $col-gutter * 3;
	}

	.img-center {
		width: 100%;
		margin: 0 auto 30px auto;
	}

	.img-left .img-wrapper,
	.img-right .img-wrapper,
	.img-center .img-wrapper {
		margin-bottom: 0;
	}

	.img-left figcaption,
	.img-right figcaption,
	.img-center figcaption {
		margin-top: 10px;
		font-size: $text-small;
	}
	
}

@media screen and (max-width: 600px) {
	.text-module {
		
	}
}

@media screen and (max-width: $mobile-break) {
	.text-module {
		
	}
}