{% block content %}
	{% set imgModuleCount = 0 %}
	{% for block in matrix %}
		{% switch block.type %}

		{% case "imageTextModule" %}
			<section data-type="image-text-module" class="module image-text-module col-16 center-col {{ block.imageAlignment }} {{ block.noMarginBottom ? "no-margin-bottom" }}">
				<div class="flex">
					{% set imgClass = '' %}
					{% set img = block.image.one() %}
					{% if img is not null %}
						<div class="img-side {{ block.addSidePattern ? "side-pattern" }}">
							<div class="img-wrapper {{ imgClass }}">
								{% if img.height > img.width %}
									{% set imgClass = 'vert' %}
									{% set transformedImages = craft.imager.transformImage(img,
									    [
									        { width: 500, height: 800, format: 'webp' },
									        { width: 1000, height: 1600, format: 'webp' },
									        { width: 500, height: 800 },
									        { width: 1000, height: 1600 },
									        { width: 768, height: 432, format: 'webp' },
									        { width: 1536, height: 864, format: 'webp' },
									        { width: 768, height: 432 },
									        { width: 1536, height: 864 }
									    ],
									    {
									        mode: 'crop',
									        position: img.getFocalPoint()
									    }
									) %}

									<picture>
										<source srcset="{{ transformedImages[0].url }} 1x, {{ transformedImages[1].url }} 2x" media="(min-width: 769px)" type="image/webp">
										<source srcset="{{ transformedImages[4].url }} 1x, {{ transformedImages[5].url }} 2x" media="(max-width: 768px)" type="image/webp">
										<source srcset="{{ transformedImages[2].url }} 1x, {{ transformedImages[3].url }} 2x" media="(min-width: 769px)" type="image/{{ img.extension }}">
										<source srcset="{{ transformedImages[6].url }} 1x, {{ transformedImages[7].url }} 2x" media="(max-width: 768px)" type="image/{{ img.extension }}">
										<img src="{{ transformedImages[3].url }}" alt="{{ img.title }}" />
									</picture>
								{% else %}
									{% set imgClass = 'horz' %}
									{% set transformedImages = craft.imager.transformImage(img,
									    [
									        { width: 768, format: 'webp' },
									        { width: 1536, format: 'webp' },
									        { width: 768 },
									        { width: 1536 }
									    ],
									    {
									        position: img.getFocalPoint()
									    }
									) %}

									<picture>
										<source srcset="{{ transformedImages[0].url }} 1x, {{ transformedImages[1].url }} 2x" media="(min-width: 769px)" type="image/webp">
										<source srcset="{{ transformedImages[0].url }} 1x, {{ transformedImages[1].url }} 2x" media="(max-width: 768px)" type="image/webp">
										<source srcset="{{ transformedImages[2].url }} 1x, {{ transformedImages[3].url }} 2x" media="(min-width: 769px)" type="image/{{ img.extension }}">
										<source srcset="{{ transformedImages[3].url }} 1x, {{ transformedImages[3].url }} 2x" media="(max-width: 768px)" type="image/{{ img.extension }}">
										<img src="{{ transformedImages[3].url }}" alt="{{ img.title }}" />
									</picture>
								{% endif %}
								{% if block.addSidePattern %}
									<div class="henry-bg-wrapper"></div>
								{% endif %}
							</div>
						</div>
					{% endif %}

					<div class="content-wrapper side-padding add-p-margin">
						{% set icon = block.icon.one() %}
						{% if icon is not null %}
							<div class="flex icon-text-wrapper">
								<div class="img-wrapper icon">
									<img src="{{ icon.url() }}" alt="{{ icon.title }}" />
								</div>
								{% if block.iconText is not empty %}
									<h6>{{ block.iconText }}</h6>
								{% endif %}
							</div>
						{% endif %}

						{% if block.headline is not empty %}
							<div class="headline-line-wrapper">
								<h2>{{ block.headline }}</h2>
								<div class="diamond-line-wrapper">
									{% include "./_svgs/_diamondLine.svg" %}
								</div>
							</div>
						{% endif %}

						{% if block.contentArea is not empty %}
							{{ block.contentArea }}
						{% endif %}
					</div>
				</div>
    		</section>

		{% case "imageModule" %}
			{% set img = block.image.one() %}
			{% set blockStyle = "" %}
			{% set blockClass = "" %}

			{% if block.fullWidth %}
				{% set blockClass = "full-width" %}
				{% if block.maxHeight is not empty %}
					{% set blockStyle = "style=max-height:" ~ block.maxHeight ~ "px"%}
					{% set blockClass = blockClass ~ " has-max-height" %}
				{% endif %}
				{% if img.extension != 'svg' %}
					{% set image1xWebp = craft.imager.transformImage(img, { width: 1440, format: 'webp' }) %}
					{% set image2xWebp = craft.imager.transformImage(img, { width: 2880, format: 'webp' }) %}
				{% endif %}
				{% set image1x = img.getUrl("fullWidth1x") %}
				{% set image2x = img.getUrl("fullWidth2x") %}
			{% else %}
				{% set width = block.imageWidth is not empty ? block.imageWidth : 12 %}
				{% set blockClass = "col-" ~ width ~ " center-col" %}
				{% if img.extension != 'svg' %}
					{% set imgWidth = (60 * width) + (20 * (width + 1)) %}
					{% set image1xWebp = craft.imager.transformImage(img, { width: imgWidth, format: 'webp' }) %}
					{% set image2xWebp = craft.imager.transformImage(img, { width: imgWidth * 2, format: 'webp' }) %}
					{% set image1x = img.getUrl({ mode: 'fit', width: imgWidth }) %}
					{% set image2x = img.getUrl({ mode: 'fit', width: imgWidth * 2 }) %}
				{% else %}
					{% set image1x = img.url() %}
					{% set image2x = img.url() %}
				{% endif %}
			{% endif %}

			<section data-type="image-module" class="module image-module {{ block.noMarginBottom ? 'no-margin-bottom' }} {{ block.fullWidth == false ? "side-padding" }}">

				{#{% if block.mobilePercentage is not empty %}
					<style>
						@media screen and (max-width: 600px) {
							#module-count-{{ imgModuleCount }} {
								max-width: {{ block.mobilePercentage }}vw;
								margin: 0 auto;
							}
						}
					</style>
				{% endif %}#}

				<div class="{{ blockClass }}">
					<figure id="module-count-{{ imgModuleCount }}" class="img-wrapper" {{ blockStyle }}>
						<picture>
							{% if img.extension != 'svg' %}
								<source srcset="{{ image1xWebp }} 1x, {{ image2xWebp }} 2x" media="(min-width: 769px)" type="image/webp">
								<source srcset="{{ image1xWebp }} 1x, {{ image2xWebp }} 2x" media="(max-width: 768px)" type="image/webp">
							{% endif %}
							<source srcset="{{ image1x }} 1x, {{ image2x }} 2x" media="(min-width: 769px)" type="image/{{ img.extension }}">
							<source srcset="{{ image1x }} 1x, {{ image1x }} 2x" media="(max-width: 768px)" type="image/{{ img.extension }}">
							<img src="{{ image1x }}" alt="{{ img.title }}" {{ blockStyle }} />
						</picture>
						{% if block.caption is not empty %}
							<figcaption class="serif text-base">{{ block.caption|retconChange('p', false) }}</figcaption>
						{% endif %}
					</figure>
				</div>
    		</section>

    		{% set imgModuleCount = imgModuleCount + 1 %}

		{% case "textModule" %}
			<section data-type="text-module" class="module text-module {{ block.noMarginBottom ? "no-margin-bottom" }}">
				<div class="site-width">
					<div class="content-wrapper {{ block.centerModule ? "center-col" }} col-{{ block.moduleWidth|default(8) }}">
						{% if block.contentArea is not empty %}
							{{ block.contentArea | retcon([
									["wrap", "img", ".img-wrapper"],
									["wrap", "iframe", ".video-wrapper"]
								])|raw
							}}
						{% endif %}
					</div>
				</div>
    		</section>

    	

    	{% case "mapModule" %}
	    	<section data-type="map-module" class="module map-module {{ block.pointOfInterestCategories|length > 0 ? "has-pois" }} {{ block.noMarginBottom ? "no-margin-bottom" }}">
	    		{% if block.contentArea is not empty %}
	    			<div class="content-wrapper intro-content">
		    			<div class="inner-content basic-padding col-7 center-col center-text">
		    				{{ block.contentArea }}
		    			</div>
	    			</div>
	    		{% endif %}
	    		<div data-popup="{{ block.popupContent is not empty ? block.popupContent|e('html') }}" data-lng="{{ block.centerLongitude }}" data-lat="{{ block.centerLatitude }}" class="map-wrapper">
	    			<div id="map"></div>
	    		</div>
	    		{% if block.pointOfInterestCategories|length > 0 %}
	    			<div class="poi-list-wrapper">
		    			{% for category in block.pointOfInterestCategories.all() %}
		    				<h6 class="category-title">{{ category.title }}</h6>
			    			{% set pois = craft.entries.section("pointsOfInterest").relatedTo(category) %}
			    				<div class="poi-list">
				    				{% for poi in pois.all() %}
				    					<div class="poi-list-item" data-id={{ poi.id }} data-lat="{{ poi.latitude }}" data-lng="{{ poi.longitude }}" data-category="{{ poi.poiCategory.one().id }}">
				    						<h4>{{ poi.title }}</h4>
				    						<div class="flex address-contact-wrapper">
					    						<p class="address">{{ poi.streetAddress }}<br>{{ poi.city }}, {{ poi.state }} {{ poi.zip }}</p>
					    						<p>
					    							{% if poi.phone is not empty %}
					    								<span class="phone">{{ poi.phone}}</span><br>
					    							{% endif %}
					    							{% if poi.website is not empty %}
					    								<a class="website" href="{{ poi.website }}" target="_blank" rel="noopener noreferrer">Website</a>
					    							{% endif %}
					    						</p>
					    					</div>
				    					</div>
				    				{% endfor %}
				    			</div>
		    			{% endfor %}
		    		</div>
    			{% endif %}
	    	</section>

		{% case "formModule" %}
			<section data-type="form-module" class="site-width module form-module {{ block.formAlignment }} {{ block.noMarginBottom ? "no-margin-bottom" }}">
				<div class="flex space-between">
					{% if block.contentArea is not empty %}
						<div class="content-side">
							<div class="content-wrapper col-5 center-col basic-padding">
								{{ block.contentArea }}
							</div>
						</div>
					{% endif %}
					<div class="form-side">
						<div class="col-7 form-wrapper">
						
							{% macro errorList(errors) %}
							    {% if errors %}
							        <ul class="errors">
							            {% for error in errors %}
							                <li>{{ error }}</li>
							            {% endfor %}
							        </ul>
							    {% endif %}
							{% endmacro %}
							{% from _self import errorList %}

							{% set form = block.form.setConfig({
							    attributes: {
							        'class': 'wf-form',
							        'novalidate':"validate"
							    },
							    submitButton: {
								    "type": "button",
								    "label": block.buttonText|default("submit"),
								    "attributes": {
								        "class": "btn"
								    }
								}
							}) %}
							{{ wheelform.recaptchaV3( {'action': "" })}}

							{{ form.open() }}
							    {{ wheelformErrors['form'] is defined ? errorList(wheelformErrors['form']) }}
							    {{ wheelformErrors['recaptcha'] is defined ? errorList(wheelformErrors['recaptcha']) }}
							    {{ wheelformErrors['honeypot'] is defined ? errorList(wheelformErrors['honeypot']) }}

							    {% for field in form.fields %}
							        {{ field.render() }}
							        {{ wheelformErrors[field.name] is defined ? errorList(wheelformErrors[field.name]) }}
							    {% endfor %}
							{{ form.close() }}
							<div class="confirmation-text">
						    	<p class="success-text hide center-text">{{ block.successText|default("Thank you.") }}</p>
						    	<p class="failure-text hide center-text">{{ block.failureText|default("Something went wrong, please try again later.")}}</p>
						    </div>
						</div>
					</div>
				</div>
    		</section>

	    {% default %}
	    	{# Do nothing #}
	    {% endswitch %}
	{% endfor %}
{% endblock %}