{% block content %}
	{% set imgModuleCount = 0 %}
	{% for block in matrix %}
		{% switch block.type %}
		{% case "pageHeroModule" %}
			{% include "./_modules/_pageHeroModule" with {
				"block" : block
			} %}

		{% case "imageTextModule" %}
			{% include "./_modules/_imageTextModule" with {
				"block" : block
			} %}
			{% set imgModuleCount = imgModuleCount + 1 %}

		{% case "textModule" %}
			{% include "./_modules/_textModule" with {
				"block" : block
			} %}

		{% case "imageModule" %}
			{% include "./_modules/_imageModule" with {
				"block" : block
			} %}
    		{% set imgModuleCount = imgModuleCount + 1 %}

		{% case "pointsOfInterestModule" %}
			{% include "./_modules/_pointsOfInterestModule" with {
				"block" : block
			} %}

		{% case "formModule" %}
			{% include "./_modules/_formModule" with {
				"block" : block
			} %}

	    {% default %}
	    	{# Do nothing #}
	    {% endswitch %}
	{% endfor %}
{% endblock %}