@import '_vars.scss';

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em
}

@function calc-percent($target, $container) {
  @return ($target / $container) * 100%;
}

@mixin font-face($font-family, $font-name, $weight, $style) {
    @font-face {
        font-family: '#{$font-family}';
        src: url(font-path('#{$font-name}.eot'));
        src: url(font-path('#{$font-name}.eot?#iefix')) format('embedded-opentype'),
            url(font-path('#{$font-name}.woff')) format('woff'),
            url(font-path('#{$font-name}.woff2')) format('woff2');
        font-weight: $weight;
        font-style: $style;
    }
}

@function font-path($font) {
  @return ("../fonts/" + $font);
}