.redactor-styles {
	p.text-smaller {
		font-size: 12px;
		line-height: 18px;
	}

	p.text-small {
		font-size: 14px;
		line-height: 20px;
	}

	p.text-base {
		font-size: 16px;
		line-height: 22px;
	}

	p.text-large {
		font-size: 18px;
		line-height: 26px;
	}

	p.text-larger {
		font-size: 20;
		line-height: 30px;
	}

	p.text-largest {
		font-size: 22px;
		line-height: 34px;
	}

}