@import 'bourbon';
@import 'neat';
@import 'vars';
@import '_mixins.scss';

@import 'partials/css_reset';
@import 'partials/global_styles';

// @include font-face("europa", "Europa-Regular", 400, normal);
// @include font-face("europa", "Europa-RegularItalic", 400, italic);
// @include font-face("europa", "Europa-Bold", 700, normal);
// @include font-face("europa", "Europa-BoldItalic", 700, italic);

// @include font-face("sabon", "SabonLTPro-Roman", 400, normal);
// @include font-face("sabon", "SabonLTPro-Italic", 400, italic);
// @include font-face("sabon", "SabonLTPro-Bold", 700, normal);
// @include font-face("sabon", "SabonLTPro-BoldItalic", 700, italic);


html {
	font-size: $browser-context;
	font-weight: 400;
}

body {
	color: $black;
	font-family: $serif-stack;
	font-style: normal;
	font-weight: 400;
	line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}
	#container {
		position: relative;
	}

#content {
	width: 100%;
	height: auto;
	min-height: 700px;
	position: relative;
	margin-top: $header-height;
}

//colors 
.black-text { color: $black; }
.tan-text { color: $tan; }
.gold-text { color: $gold; }
.orange-text { color: $orange; }
.green-text { color: $green; }
.light-blue-text { color: $light-blue; }
.dark-blue-text { color: $dark-blue; }

.tan-bg { background-color: $tan; }
.light-gold-bg { background-color: rgba($gold, .25); }
.white-bg { background-color: #ffffff; }

//text styles
.sans-serif {
	font-family: $sans-serif-stack;
}

.serif {
	font-family: $serif-stack;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $serif-stack;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .25em;
	color: $dark-blue;
}

	h1 {
		font-size: #{32px/$browser-context}rem;
		line-height: #{40px/$browser-context}rem;
		margin-bottom: 16px;
	}

	h2 {
		font-size: #{28px/$browser-context}rem;
		line-height: #{40px/$browser-context}rem;
		margin-bottom: 14px;
	}

	h3 {
		font-size: #{26px/$browser-context}rem;
		line-height: #{36px/$browser-context}rem;
		margin-bottom: 12px;
	}

	h4 {
		font-size: #{22px/$browser-context}rem;
		line-height: #{28px/$browser-context}rem;
		margin-bottom: 10px;
	}

	h5 {
		font-size: #{18px/$browser-context}rem;
		line-height: #{26px/$browser-context}rem;
		margin-bottom: 8px;
	}

	h6,
	.subhead {
		color: $green;
		font-family: $serif-stack;
		text-transform: uppercase;
 		font-size: #{12px/$browser-context}rem;
 		font-weight: 700;
		line-height: #{20px/$browser-context}rem;
		letter-spacing: .1em;
 		margin-bottom: 8px;
	}

		h6.sans-serif,
		.subhead.sans-serif {
			font-family: $sans-serif-stack;
		}

		h6.black-text,
		.subhead.black-text { 
			color: $black;
		}

		h6.light-blue-text,
		.subhead.light-blue-text {
			color: $light-blue;
		}

	.white-headlines {
		h1, h2, h3, h4, h5 {
			color: #ffffff !important;
		}

	}




.content-wrapper ul,
.content-wrapper ol,
.bullet-list {
	margin-bottom: 20px;
	//padding-left: 20px;
}
	.content-wrapper ul li,
	.bullet-list li {
		position: relative;
		padding-left: 14px;
		margin-bottom: 12px;
		list-style-type: none;
		font-size: $text-base;
		line-height: #{29px/$browser-context}rem;
	}
		.content-wrapper li.text-small,
		.bullet-list li.text-small {
			font-size: $text-small;
			line-height: #{24px/$browser-context}rem;
			margin-bottom: 10px;
		}


		.content-wrapper ul li:before,
		.bullet-list li:before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 10px;
			width: 7px;
			height: 7px;
			//background: $ut-orange;
		}

		.content-wrapper ul li.text-small:before,
		.bullet-list li.text-small:before {
			top: 7px;
		}


.content-wrapper ol {
	list-style-position: inside;
	list-style-type: decimal;
}
	.content-wrapper ol li {
		margin-bottom: 12px;
	}


p {
	font-family: $serif-stack;
	font-size: $text-base;
	line-height: #{28px/$browser-context}rem;
	margin-bottom: 18px;
}

	.content-wrapper p a:not(.btn) {
	    //box-shadow: inset 0 -2px 0 $ut-orange;
	    background: none;
	    transition: background .1s ease-in-out;
	}
		.content-wrapper p a:not(.btn):hover {
			//background: rgba($ut-orange, .5);
			box-shadow: none;
		}

.cta {
	font-family: $sans-serif-stack;
	text-transform: uppercase;
	font-size: #{12px/$browser-context}rem;
	font-weight: 700;
	line-height: #{20px/$browser-context}rem;
	letter-spacing: .1em;
	color: $gold;
	padding-bottom: 6px;
	position: relative;
	overflow: hidden;
	display: inline-block;

	&.light-blue-text {
		color: $light-blue;

		.line {
			background: $gold;
		}
	}

	.line {
		height: 2px;
		width: 20px;
		background: $dark-blue;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 1;
	}
}

strong, b {
	font-weight: 700;
}

pre {
	font-family: monospace;
}

a {
	text-decoration: none;
}


.side-padding {
	padding-left: $col-gutter;
	padding-right: $col-gutter;
}

.add-drop-shadow {
	position: relative;
	overflow: unset;

	.shadow {
		position: absolute;
		bottom: -20px;
		left: 10%;
		background: rgba(#25282A, .2);
		width: 80%;
		height: 40px;
		z-index: 0;
		filter: blur(20px);
	}

	.bg-helper {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

.extra-spacer {
	width: 10px !important;
	max-width: 0 !important;
	min-width: 0 !important;
	background: none;
	flex-basis: 10px !important;
	flex-shrink: 0;
	//margin: 0;
	background: none !important;
	padding: 5px !important;
}

@import 'partials/header';
@import 'partials/footer';

@import 'modules/baseModule';

@import 'modules/textModule';
@import 'modules/imageModule';
@import 'modules/imageTextModule';
@import 'modules/mapModule';
@import 'modules/formModule';

@import 'modules/textStyles';
@import 'modules/formStyles';

//svg-icons
.svg-icon {
    text-indent: -2000px;
    position: relative;
    display: block;
    overflow: hidden;
    width: 30px;
    height: 30px;

    :before {
    	position: absolute;
	    left: 0;
	    top: 0;
	    width: inherit;
	    height: inherit;
	    content: '';
	    background-repeat: no-repeat;
    }
}


.horz-scroll {
	//cursor: -webkit-grab !important;
	//cursor: grab !important;
	-webkit-overflow-scrolling: touch;
}

.no-scrollbar.horz-scroll::-webkit-scrollbar,
.no-scrollbar.horz-scroll::-webkit-scrollbar-track  {
	display: none;
}

.slim-scrollbar::-webkit-scrollbar {
    width: 2px;
}

	.slim-scrollbar.horz-scroll::-webkit-scrollbar {
	    height: 5px;
	    width: auto;
	}

.slim-scrollbar::-webkit-scrollbar-track {
    border-radius: 0;
}
	.slim-scrollbar.horz-scroll::-webkit-scrollbar-track {
	   // border-bottom: 2px solid $blue-gray;
	}

.slim-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 0;
   // background: $ut-orange;
}

.slim-scrollbar::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(100,100,100,0.4); 
}

::selection {
  background: rgba($gold, .3);
}
::-moz-selection {
  background: rgba($gold, .3);
}


//ie10 and ie11 styles
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

}

//ie edge targeting
@supports (-ms-ime-align: auto) {
 
}

@import 'partials/_flickity';
@import 'partials/_vex';
@import 'partials/media_stops';